@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

form {
    margin: 70px 10%;
     
}

input, textarea {
    margin-bottom: 20px;
    margin-top: 3px;
    resize: vertical;
    /* background-color:#fbf7df;    */
    border:1px solid #6a7436;
    padding: 10px;
    border-radius: 20px;
}

textarea {
    font-family: 'Caveat Brush';
}

input {
    width: 300px;
}

#btn-envoyer {
    background-color: #EDFF91;
    border-radius: 30px;
    border: 1px solid ;
    padding: 5px 15px;
    font-size: 30px;
    cursor:pointer;
    font-family: Caveat Brush;
    color: #6a7436;   
}

#champs-requis {
    font-size: 20px;
}

